<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [1]:
import pandas as pd

In [ ]:
pd.DataFrame()

In [2]:
import pymysql
from sqlalchemy import create_engine

In [4]:
engine=create_engine('mysql+pymysql://root:password@localhost/finance')

In [8]:
import os
os.chdir('/media/mauritian/New SSD/Downloads/czech')

In [9]:
os.listdir()

['account.csv',
 'berka.pdf',
 'card.asc',
 'client.asc',
 'disp.asc',
 'district.asc',
 'loan.asc',
 'order.asc',
 'trans.asc']

In [12]:
toopen=[i for i in os.listdir() if not i.endswith('pdf')]

In [13]:
dct={i[:-4]:pd.read_csv(i, sep=';') for i in toopen}

/home/mauritian/yes/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3254: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [14]:
dct.keys()

dict_keys(['account', 'card', 'client', 'disp', 'district', 'loan', 'order', 'trans'])

In [15]:
dct['trans']

,trans_id,account_id,date,type,operation,amount,balance,k_symbol,bank,account
0,695247,2378,930101,PRIJEM,VKLAD,700.0,700.0,NaN,NaN,NaN
1,171812,576,930101,PRIJEM,VKLAD,900.0,900.0,NaN,NaN,NaN
2,207264,704,930101,PRIJEM,VKLAD,1000.0,1000.0,NaN,NaN,NaN
3,1117247,3818,930101,PRIJEM,VKLAD,600.0,600.0,NaN,NaN,NaN
4,579373,1972,930102,PRIJEM,VKLAD,400.0,400.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1056315,3626622,2906,981231,PRIJEM,NaN,62.3,13729.4,UROK,NaN,NaN
1056316,3627616,2935,981231,PRIJEM,NaN,81.3,19544.9,UROK,NaN,NaN
1056317,3625403,2869,981231,PRIJEM,NaN,60.2,14638.2,UROK,NaN,NaN
1056318,3626683,2907,981231,PRIJEM,NaN,107.5,23453.0,UROK,NaN,NaN
1056319,3626540,2902,981231,PRIJEM,NaN,164.1,41642.9,UROK,NaN,NaN

In [16]:
for i,j in dct.items():
    j.to_sql(i, con=engine, if_exists='replace', index=False, chunksize=100000)
    print(i, 'is done')

account is done
card is done
client is done
disp is done
district is done
loan is done
order is done
trans is done

In [17]:
from sqlalchemy import inspect

In [18]:
inspector=inspect(engine)

In [20]:
inspector.get_table_names()

['account', 'card', 'client', 'disp', 'district', 'loan', 'order', 'trans']