<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Lists" data-toc-modified-id="Lists-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Lists</a></span></li><li><span><a href="#Tuples" data-toc-modified-id="Tuples-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Tuples</a></span></li><li><span><a href="#Sets" data-toc-modified-id="Sets-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Sets</a></span></li><li><span><a href="#Dictionaries" data-toc-modified-id="Dictionaries-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Dictionaries</a></span></li><li><span><a href="#Generators" data-toc-modified-id="Generators-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Generators</a></span></li><li><span><a href="#Text-analysis" data-toc-modified-id="Text-analysis-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Text analysis</a></span></li><li><span><a href="#Lab-Review" data-toc-modified-id="Lab-Review-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Lab Review</a></span><ul class="toc-item"><li><span><a href="#Tuples" data-toc-modified-id="Tuples-7.1"><span class="toc-item-num">7.1&nbsp;&nbsp;</span>Tuples</a></span></li><li><span><a href="#Sets" data-toc-modified-id="Sets-7.2"><span class="toc-item-num">7.2&nbsp;&nbsp;</span>Sets</a></span></li><li><span><a href="#Dicts" data-toc-modified-id="Dicts-7.3"><span class="toc-item-num">7.3&nbsp;&nbsp;</span>Dicts</a></span></li><li><span><a href="#list-comprehensions" data-toc-modified-id="list-comprehensions-7.4"><span class="toc-item-num">7.4&nbsp;&nbsp;</span>list comprehensions</a></span></li></ul></li><li><span><a href="#Text" data-toc-modified-id="Text-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Text</a></span></li></ul></div>

# Lists

In [1]:
lst=[]

In [2]:
lst=list()

In [3]:
lst=[1,2,3]

In [4]:
lst

[1, 2, 3]

In [29]:
lst=list(range(5))

In [30]:
lst

[0, 1, 2, 3, 4]

In [31]:
lst2=[]

for i in lst:
    lst2.append((i**2-4)/20)
lst2

[-0.2, -0.15, 0.0, 0.25, 0.6]

In [8]:
lst+lst2

[0, 1, 2, 3, 4, -0.2, -0.15, 0.0, 0.25, 0.6]

In [9]:
[lst,lst2] #list of lists

[[0, 1, 2, 3, 4], [-0.2, -0.15, 0.0, 0.25, 0.6]]

In [10]:
lst3=[]

for i in range(len(lst)):
    lst3.append(lst[i]+lst2[i])

In [11]:
lst3

[-0.2, 0.85, 2.0, 3.25, 4.6]

In [12]:
len(lst)

5

In [15]:
lst=['cargo','bat','tiger']

lst

['cargo', 'bat', 'tiger']

In [16]:
lst.append('bomb')

In [17]:
lst

['cargo', 'bat', 'tiger', 'bomb']

In [18]:
lst.remove('bat')

In [19]:
lst

['cargo', 'tiger', 'bomb']

In [20]:
lst.remove('bat')

ValueError: list.remove(x): x not in list

In [21]:
lst=['cargo','bat','tiger', 'bat']

In [22]:
lst.remove('bat')

In [23]:
lst

['cargo', 'tiger', 'bat']

In [24]:
lst.remove('bat')
lst

['cargo', 'tiger']

In [25]:
lst+['dumpling']

['cargo', 'tiger', 'dumpling']

In [26]:
'dumpling' in lst

False

In [27]:
lst

['cargo', 'tiger']

In [28]:
not 'dumpling' in lst

True

In [33]:
sum(lst)

10

In [34]:
max(lst)

4

In [35]:
min(lst)

0

In [36]:
len(lst)

5

In [37]:
lst.sort()

In [38]:
lst

[0, 1, 2, 3, 4]

In [39]:
lst.sort(reverse=True)

In [40]:
lst

[4, 3, 2, 1, 0]

In [43]:
lst.sort(reverse=False)

In [44]:
lst

[0, 1, 2, 3, 4]

# Tuples

In [45]:
chocolates = ('dark', 'milk', 'semi sweet')

In [46]:
chocolates

('dark', 'milk', 'semi sweet')

In [47]:
chocolates[2]

'semi sweet'

In [48]:
chocolates[2]='salty'

TypeError: 'tuple' object does not support item assignment

In [49]:
len(chocolates)

3

In [50]:
chocolates[19]

IndexError: tuple index out of range

In [51]:
for chocolate in chocolates:
    print(chocolate)

dark
milk
semi sweet

In [52]:
chocolates.append('salty')

AttributeError: 'tuple' object has no attribute 'append'

In [56]:
buaa=list(chocolates)

In [57]:
buaa.append('salty')

In [60]:
tuple(buaa)

('dark', 'milk', 'semi sweet', 'salty')

In [61]:
# unpack the tuple

i,j,k = chocolates

In [62]:
i

'dark'

In [63]:
j

'milk'

In [64]:
k

'semi sweet'

In [65]:
tpl=(1,2)

In [66]:
i,j=tpl
print(i,j)

1 2

In [68]:
q,w=(lst,lst2)

In [70]:
q==lst

True

In [71]:
q is lst

True

In [72]:
lst[2]=11
lst

[0, 1, 11, 3, 4]

In [73]:
q

[0, 1, 11, 3, 4]

# Sets

In [74]:
st={}
type(st)

dict

In [75]:
st=set()

In [78]:
lst4=[]
for i in range(20):
    lst4.append(i%3)

In [79]:
lst4

[0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1]

In [81]:
st=set(lst4)

In [83]:
st[2]

TypeError: 'set' object is not subscriptable

In [84]:
s1={1,2,3,4}
s2={2,3,4,5}

In [85]:
s1 | s2 # union

{1, 2, 3, 4, 5}

In [86]:
s1 & s2 # intersection

{2, 3, 4}

In [87]:
s1 or s2

{1, 2, 3, 4}

In [88]:
s1 and s2

{2, 3, 4, 5}

In [89]:
s1.intersection(s2)

{2, 3, 4}

In [90]:
s1.union(s2)

{1, 2, 3, 4, 5}

In [91]:
s1.difference(s2)

{1}

In [92]:
s1-s2

{1}

In [94]:
s2.difference(s1)

{5}

In [95]:
s2-s1

{5}

In [96]:
s1.symmetric_difference(s2)

{1, 5}

In [97]:
s3={3,4}

In [98]:
s3.issubset(s1) # all the elements of s3 are in s1

True

In [99]:
s1.issuperset(s3) # s1 contains all the elements of s3

True

In [102]:
s1-s2

{1}

In [103]:
s1-s3

{1, 2}

In [104]:
s1+s2

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [105]:
1 in s1

True

In [107]:
txt1='the quick brown fox jumps over the lazy dog'
txt2='the big bang theory'

Which common letters do those sentences share?

In [111]:
s=[]
for i in txt1:
    for j in txt2:
        if i==j:
            s.append(i)
            break

In [112]:
s

['t',
 'h',
 'e',
 ' ',
 'i',
 ' ',
 'b',
 'r',
 'o',
 'n',
 ' ',
 'o',
 ' ',
 ' ',
 'o',
 'e',
 'r',
 ' ',
 't',
 'h',
 'e',
 ' ',
 'a',
 'y',
 ' ',
 'o',
 'g']

In [113]:
set(txt1) & set(txt2)

{' ', 'a', 'b', 'e', 'g', 'h', 'i', 'n', 'o', 'r', 't', 'y'}

In [114]:
set1={0,1,'!','245e11',42,'mononoke','%',11}

In [115]:
set1

{'!', '%', 0, 1, 11, '245e11', 42, 'mononoke'}

In [118]:
for i in set1:
    print(i)

0
1
42
%
!
11
245e11
mononoke

In [119]:
set1.remove('!')

In [121]:
for i in set1:
    print(i)

0
1
42
%
11
245e11
mononoke

# Dictionaries

In [122]:
chocolates

('dark', 'milk', 'semi sweet')

In [123]:
brands=['Lindt','Nestle','Milka']

In [125]:
dct={'dark':'Lindt'}
dct

{'dark': 'Lindt'}

In [126]:
for i in range(len(chocolates)):
    print(i,brands[i],chocolates[i])

0 Lindt dark
1 Nestle milk
2 Milka semi sweet

In [127]:
dct={}
for i in range(len(brands)):
    dct.update({chocolates[i]:brands[i]})

In [128]:
dct

{'dark': 'Lindt', 'milk': 'Nestle', 'semi sweet': 'Milka'}

In [129]:
dct2={}
for i in range(len(brands)):
    dct2[chocolates[i]] = brands[i]

In [130]:
dct2

{'dark': 'Lindt', 'milk': 'Nestle', 'semi sweet': 'Milka'}

In [132]:
dct3={}
for i,j in zip(chocolates,brands):
    dct3[i]=j

In [133]:
dct3

{'dark': 'Lindt', 'milk': 'Nestle', 'semi sweet': 'Milka'}

In [134]:
list(zip(chocolates,brands))

[('dark', 'Lindt'), ('milk', 'Nestle'), ('semi sweet', 'Milka')]

In [135]:
dct.update({'kinder surprise':'kinder'})

In [138]:
del dct['kinder surprise']

In [139]:
dct

{'dark': 'Lindt', 'milk': 'Nestle', 'semi sweet': 'Milka'}

In [140]:
dct.pop('milk')

'Nestle'

In [141]:
dct

{'dark': 'Lindt', 'semi sweet': 'Milka'}

In [142]:
dct['nougat']=dct.pop('dark')

In [143]:
dct

{'semi sweet': 'Milka', 'nougat': 'Lindt'}

In [144]:
dct.update({'semi sweet':'Catberry'})

In [145]:
dct

{'semi sweet': 'Catberry', 'nougat': 'Lindt'}

In [146]:
dct.keys()

dict_keys(['semi sweet', 'nougat'])

In [147]:
dct.values()

dict_values(['Catberry', 'Lindt'])

In [148]:
dct.items()

dict_items([('semi sweet', 'Catberry'), ('nougat', 'Lindt')])

In [149]:
for i in dct:
    print(i)

semi sweet
nougat

In [150]:
for i in dct.keys():
    print(i)

semi sweet
nougat

In [151]:
for i in dct.values():
    print(i)

Catberry
Lindt

In [152]:
for i in dct.items():
    print(i)

('semi sweet', 'Catberry')
('nougat', 'Lindt')

In [157]:
for i,j in dct.items():
    print(i,j)

semi sweet Catberry
nougat Lindt

In [158]:
for i,j in dct.items():
    print('The best brand for',i,'chocolate is',j)

The best brand for semi sweet chocolate is Catberry
The best brand for nougat chocolate is Lindt

# Generators

In [1]:
fruits=['apple','pineapple','mango','banana','pear']

In [2]:
for fruit in fruits:
    if 'e' in fruit:
        print(fruit)

apple
pineapple
pear

In [3]:
lst=[]
for fruit in fruits:
    if 'e' in fruit:
        lst.append(fruit)
lst

['apple', 'pineapple', 'pear']

In [4]:
(fruit for fruit in fruits if 'e' in fruit)

In [5]:
[fruit for fruit in fruits if 'e' in fruit]

['apple', 'pineapple', 'pear']

In [6]:
{fruit for fruit in fruits if 'e' in fruit}

{'apple', 'pear', 'pineapple'}

In [7]:
tuple(fruit for fruit in fruits if 'e' in fruit)

('apple', 'pineapple', 'pear')

```python
what for what in list if filter
```

List of all even numbers from 0 to 20.

In [8]:
lst2=[]
for i in range(21):
    if i%2==0:
        lst2.append(i)
lst2

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [9]:
[i for i in range(21) if i%2==0]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [10]:
[i/2 for i in range(21)]

[0.0,
 0.5,
 1.0,
 1.5,
 2.0,
 2.5,
 3.0,
 3.5,
 4.0,
 4.5,
 5.0,
 5.5,
 6.0,
 6.5,
 7.0,
 7.5,
 8.0,
 8.5,
 9.0,
 9.5,
 10.0]

In [11]:
lst_lst=[[0,1,2,3],[1,2,3],['yes','no']]

Merge list of lists into 1 list

In [14]:
lst3=[]
for i in lst_lst:
    for j in i:
        lst3.append(j)
lst3

[0, 1, 2, 3, 1, 2, 3, 'yes', 'no']

In [16]:
[j for i in lst_lst for j in i]

[0, 1, 2, 3, 1, 2, 3, 'yes', 'no']

In [18]:
[k for k in l for l in lst_lst] # so, the order matters

NameError: name 'l' is not defined

Create a list with text that is contained in the list of lists

In [20]:
[k for l in lst_lst for k in l if type(k)==str]

['yes', 'no']

In [21]:
[k for l in lst_lst for k in l if isinstance(k, str)]

['yes', 'no']

If list has 3 elements substract 1; if list has 4 elements - power of 2; else - print as it is

In [22]:
lst4=[]
for i in lst_lst:
    if len(i)==3:
        for j in i:
            lst4.append(j-1)
    elif (len(i))==4:
        for j in i:
            lst4.append(j**2)
    else:
        for j in i:
            lst4.append(j)
lst4

[0, 1, 4, 9, 0, 1, 2, 'yes', 'no']

In [23]:
lst4=[]
for i in lst_lst:
    for j in i:
        if len(i)==3:
            lst4.append(j-1)
        elif (len(i))==4:
            lst4.append(j**2)
        else:
            lst4.append(j)
lst4

[0, 1, 4, 9, 0, 1, 2, 'yes', 'no']

In [24]:
[j-1 if len(i)==3 else j**2 if len(i)==4 else j for i in lst_lst for j in i]

[0, 1, 4, 9, 0, 1, 2, 'yes', 'no']

list of unique values

In [27]:
list({j for i in lst_lst for j in i})

[0, 1, 2, 3, 'yes', 'no']

In [34]:
lst3

[0, 1, 2, 3, 1, 2, 3, 'yes', 'no']

In [35]:
for i in lst3:
    print(i, lst3.count(i)) #values are repeated

0 1
1 2
2 2
3 2
1 2
2 2
3 2
yes 1
no 1

In [36]:
for i in set(lst3):
    print(i, lst3.count(i))

0 1
1 2
2 2
3 2
yes 1
no 1

In [37]:
{i:lst3.count(i) for i in set(lst3)}

{0: 1, 1: 2, 2: 2, 3: 2, 'yes': 1, 'no': 1}

# Text analysis

Get the frequency of every letter in a song.

In [38]:
lyrics="""Tonight, I'm gonna have myself a real good time
I feel alive and the world I'll turn it inside out, yeah
And floating around in ecstasy
So don't stop me now don't stop me
'Cause I'm having a good time, having a good time
I'm a shooting star, leaping through the sky
Like a tiger defying the laws of gravity
I'm a racing car, passing by like Lady Godiva
I'm gonna go, go, go
There's no stopping me
I'm burnin' through the sky, yeah
Two hundred degrees
That's why they call me Mister Fahrenheit
I'm traveling at the speed of light
I wanna make a supersonic man out of you
Don't stop me now, I'm having such a good time
I'm having a ball
Don't stop me now
If you wanna have a good time, just give me a call
Don't stop me now ('cause I'm having a good time)
Don't stop me now (yes, I'm havin' a good time)
I don't want to stop at all
Yeah, I'm a rocket ship on my way to Mars
On a collision course
I am a satellite, I'm out of control
I am a sex machine, ready to reload
Like an atom bomb about to
Oh, oh, oh, oh, oh explode
I'm burnin' through the sky, yeah
Two hundred degrees
That's why they call me Mister Fahrenheit
I'm traveling at the speed of light
I wanna make a supersonic woman of you
Don't stop me, don't stop me
Don't stop me, hey, hey, hey
Don't stop me, don't stop me
Ooh ooh ooh, I like it
Don't stop me, don't stop me
Have a good time, good time
Don't stop me, don't stop me, ah
Oh yeah
Alright
Oh, I'm burnin' through the sky, yeah
Two hundred degrees
That's why they call me Mister Fahrenheit
I'm traveling at the speed of light
I wanna make a supersonic man out of you
Don't stop me now, I'm having such a good time
I'm having a ball
Don't stop me now
If you wanna have a good time (wooh)
Just give me a call (alright)
Don't stop me now ('cause I'm having a good time, yeah yeah)
Don't stop me now (yes, I'm havin' a good time)
I don't want to stop at all
La da da da daah
Da da da haa
Ha da da ha ha haaa
Ha da daa ha da da aaa
Ooh ooh ooh"""

In [41]:
#{i:lst3.count(i) for i in set(lst3)}

{i:lyrics.count(i) for i in set(lyrics)}

{'S': 1,
 'O': 6,
 '(': 6,
 'y': 36,
 ',': 34,
 'G': 1,
 'p': 33,
 'i': 71,
 'v': 22,
 'n': 98,
 'e': 134,
 'f': 14,
 'I': 33,
 'x': 2,
 'j': 1,
 "'": 55,
 'g': 53,
 'o': 153,
 'T': 8,
 'c': 20,
 'd': 56,
 'l': 45,
 'h': 92,
 'u': 33,
 ' ': 345,
 'r': 43,
 't': 123,
 'a': 151,
 ')': 6,
 'D': 14,
 'H': 3,
 'F': 3,
 'w': 27,
 's': 69,
 'J': 1,
 'M': 4,
 '\n': 59,
 'k': 12,
 'm': 72,
 'L': 4,
 'C': 1,
 'A': 2,
 'b': 9,
 'Y': 1}

In [42]:
{i:lyrics.lower().count(i) for i in set(lyrics.lower())}

{'(': 6,
 'y': 37,
 ',': 34,
 'p': 33,
 'i': 104,
 'v': 22,
 'n': 98,
 'e': 134,
 'f': 17,
 'x': 2,
 'j': 2,
 "'": 55,
 'g': 54,
 'o': 159,
 'c': 21,
 'd': 70,
 'l': 49,
 'h': 95,
 'u': 33,
 ' ': 345,
 'r': 43,
 't': 131,
 'a': 153,
 ')': 6,
 'w': 27,
 's': 70,
 '\n': 59,
 'k': 12,
 'm': 76,
 'b': 9}

In [43]:
import os

In [44]:
os.getcwd() # get current working directory

'/home/mauritian/Documents/June 2020/Week1'

In [45]:
os.listdir() #list all the files in the directory

['.ipynb_checkpoints', 'Day2.ipynb']

In [46]:
os.chdir('..') # change directory

In [47]:
os.getcwd()

'/home/mauritian/Documents/June 2020'

In [48]:
os.listdir()

['.ipynb_checkpoints', 'Week1']

In [49]:
os.chdir('./Week1')

In [50]:
os.listdir()

['.ipynb_checkpoints', 'Day2.ipynb']

In [51]:
os.chdir('/home/mauritian/Documents/Git/')

In [52]:
os.getcwd()

'/home/mauritian/Documents/Git'

In [53]:
os.chdir('./data-labs/module-1/lab-list-comprehensions/')

In [54]:
os.listdir()

['data', 'README.md', 'your-code']

In [55]:
os.chdir('./data')

In [56]:
os.listdir()

['sample_file_5.txt',
 'sample_file_0.txt',
 'sample_file_3.txt',
 'sample_file_9.csv',
 'sample_file_3.csv',
 'sample_file_7.csv',
 'sample_file_4.csv',
 'sample_file_9.txt',
 'sample_file_7.txt',
 'sample_file_2.txt',
 'sample_file_8.txt',
 'sample_file_0.csv',
 'sample_file_6.txt',
 'sample_file_1.txt',
 'sample_file_8.csv',
 'sample_file_4.txt',
 'sample_file_1.csv',
 'sample_file_5.csv',
 'sample_file_2.csv',
 'sample_file_6.csv']

In [58]:
list_of_files_to_open=[file for file in os.listdir() if file.endswith('csv')]

In [59]:
import pandas as pd

In [60]:
pd.read_csv('sample_file_6.csv')

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,0.702566,0.092336,0.245083,0.918402,0.695110,0.886921,0.588605,0.950970,0.168079,0.783107,0.698836,0.120857,0.207432,0.824789,0.349212,0.818606,0.376941,0.886644,0.472826,0.551858
1,0.177005,0.649551,0.467321,0.449597,0.458872,0.815586,0.455132,0.729812,0.998528,0.048724,0.377391,0.729498,0.721515,0.566724,0.338366,0.877239,0.129824,0.773155,0.485385,0.686294
2,0.689556,0.445586,0.005691,0.150171,0.554146,0.492320,0.185612,0.060855,0.457443,0.847337,0.603072,0.346574,0.898464,0.482963,0.443979,0.430132,0.713078,0.302786,0.051382,0.203699
3,0.047188,0.854596,0.833368,0.043878,0.883505,0.786302,0.980916,0.004030,0.619601,0.547769,0.160962,0.545281,0.931623,0.991855,0.821099,0.654592,0.346710,0.183948,0.372739,0.739383
4,0.936065,0.725831,0.184239,0.677391,0.242726,0.125457,0.356254,0.937350,0.215774,0.212762,0.483018,0.573162,0.634487,0.423924,0.394633,0.766967,0.606719,0.538712,0.885516,0.667051

In [62]:
lof=[pd.read_csv(file) for file in list_of_files_to_open]

In [64]:
lof[1]

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,0.376101,0.896590,0.500995,0.381416,0.447730,0.048472,0.094235,0.986890,0.582352,0.037230,0.130306,0.766153,0.153783,0.199140,0.330318,0.969657,0.110998,0.033474,0.117277,0.213938
1,0.498192,0.565500,0.152394,0.284232,0.557042,0.417095,0.663465,0.158188,0.039182,0.543442,0.521210,0.993481,0.580359,0.765757,0.931264,0.336841,0.271230,0.509798,0.877048,0.310951
2,0.635284,0.247512,0.179986,0.468231,0.911799,0.764209,0.941413,0.808370,0.578024,0.181267,0.064788,0.924226,0.070744,0.704575,0.948127,0.971452,0.360861,0.074394,0.386949,0.396453
3,0.647497,0.072412,0.681403,0.977189,0.690953,0.829347,0.236915,0.406938,0.898234,0.513575,0.532473,0.790312,0.082292,0.850821,0.088025,0.289218,0.822775,0.515933,0.962827,0.026952
4,0.170792,0.586900,0.029834,0.921923,0.090727,0.592746,0.972429,0.774760,0.293800,0.956949,0.811740,0.525562,0.454788,0.848812,0.095214,0.415311,0.026496,0.513342,0.830389,0.931145

In [69]:
lof[5]

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,0.132453,0.106635,0.673568,0.507253,0.162925,0.130042,0.980388,0.623167,0.074066,0.111557,0.864664,0.093637,0.446974,0.022525,0.713369,0.707874,0.563506,0.982256,0.562498,0.968681
1,0.384938,0.767604,0.850528,0.605998,0.826172,0.667488,0.142045,0.086904,0.912348,0.892183,0.426389,0.776552,0.429496,0.602056,0.283769,0.166793,0.316878,0.688337,0.169525,0.966198
2,0.318691,0.675720,0.807189,0.752518,0.531342,0.703225,0.598293,0.921508,0.563333,0.184300,0.667625,0.270017,0.573440,0.163669,0.032852,0.689315,0.973684,0.719610,0.163670,0.724486
3,0.538593,0.291241,0.407187,0.613260,0.851424,0.962086,0.590512,0.980700,0.159022,0.684265,0.898633,0.470113,0.756593,0.282408,0.551369,0.732153,0.494100,0.792803,0.794426,0.837695
4,0.713271,0.156210,0.392800,0.702348,0.009400,0.030304,0.960066,0.688937,0.260252,0.634608,0.273775,0.264145,0.682941,0.908499,0.450950,0.200761,0.968324,0.221165,0.891382,0.398914

In [66]:
pd.concat(lof, ignore_index=True)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,0.215190,0.155352,0.160848,0.807736,0.363587,0.899832,0.146754,0.094802,0.705133,0.882762,0.773320,0.687745,0.016789,0.340725,0.984182,0.985461,0.412044,0.867894,0.113432,0.349845
1,0.895544,0.955196,0.089925,0.827555,0.089071,0.642883,0.996052,0.879020,0.421837,0.412141,0.858513,0.217091,0.176157,0.551236,0.834378,0.419535,0.041431,0.602258,0.984628,0.516899
2,0.413752,0.693052,0.789796,0.929164,0.536191,0.439769,0.773474,0.982074,0.876955,0.633154,0.279005,0.483317,0.908288,0.756172,0.462130,0.289892,0.145233,0.076819,0.797836,0.197592
3,0.728001,0.348156,0.935787,0.851163,0.444573,0.715080,0.988408,0.210332,0.732133,0.892383,0.216893,0.367595,0.846208,0.240111,0.471880,0.399721,0.758196,0.665568,0.931542,0.448124
4,0.134942,0.875931,0.273505,0.207588,0.080696,0.717396,0.033930,0.646837,0.888722,0.922742,0.176593,0.861333,0.389451,0.695244,0.129955,0.364114,0.428224,0.365442,0.847818,0.588319
5,0.376101,0.896590,0.500995,0.381416,0.447730,0.048472,0.094235,0.986890,0.582352,0.037230,0.130306,0.766153,0.153783,0.199140,0.330318,0.969657,0.110998,0.033474,0.117277,0.213938
6,0.498192,0.565500,0.152394,0.284232,0.557042,0.417095,0.663465,0.158188,0.039182,0.543442,0.521210,0.993481,0.580359,0.765757,0.931264,0.336841,0.271230,0.509798,0.877048,0.310951
7,0.635284,0.247512,0.179986,0.468231,0.911799,0.764209,0.941413,0.808370,0.578024,0.181267,0.064788,0.924226,0.070744,0.704575,0.948127,0.971452,0.360861,0.074394,0.386949,0.396453
8,0.647497,0.072412,0.681403,0.977189,0.690953,0.829347,0.236915,0.406938,0.898234,0.513575,0.532473,0.790312,0.082292,0.850821,0.088025,0.289218,0.822775,0.515933,0.962827,0.026952
9,0.170792,0.586900,0.029834,0.921923,0.090727,0.592746,0.972429,0.774760,0.293800,0.956949,0.811740,0.525562,0.454788,0.848812,0.095214,0.415311,0.026496,0.513342,0.830389,0.931145
10,0.460281,0.308551,0.735894,0.054059,0.593642,0.397679,0.019922,0.855673,0.339445,0.895810,0.832431,0.553308,0.617711,0.841575,0.336094,0.951907,0.050986,0.856135,0.773953,0.295344
11,0.065851,0.736029,0.797730,0.692722,0.167764,0.839756,0.910186,0.643328,0.371559,0.674311,0.424815,0.279397,0.015081,0.788497,0.132391,0.766033,0.708510,0.752866,0.493862,0.577262
12,0.671323,0.747296,0.892328,0.732902,0.065608,0.262364,0.712417,0.764379,0.017461,0.131970,0.649451,0.902157,0.034188,0.840938,0.098536,0.957824,0.566209,0.655947,0.592733,0.002596
13,0.445478,0.523522,0.959355,0.348292,0.761805,0.301391,0.712240,0.945462,0.139241,0.105477,0.889501,0.160828,0.400774,0.770295,0.844655,0.772798,0.584262,0.807400,0.177419,0.926007
14,0.291399,0.551248,0.736542,0.163562,0.451149,0.888938,0.968465,0.396090,0.681679,0.390542,0.030394,0.944077,0.366139,0.078188,0.175482,0.232489,0.806964,0.904593,0.803629,0.792851
15,0.901381,0.790944,0.596603,0.354721,0.357002,0.321325,0.738398,0.777885,0.775623,0.717817,0.788198,0.962214,0.394465,0.878922,0.084206,0.680941,0.992897,0.267455,0.212403,0.572150
16,0.763823,0.537281,0.708804,0.975269,0.053777,0.957740,0.389137,0.689829,0.510885,0.737445,0.097678,0.242906,0.073603,0.497591,0.798467,0.789078,0.947559,0.631497,0.057953,0.060306
17,0.571864,0.386243,0.567476,0.509283,0.552594,0.173807,0.229092,0.257945,0.313437,0.418311,0.750007,0.604759,0.234886,0.832337,0.421263,0.455785,0.893841,0.726412,0.458360,0.048740
18,0.956168,0.422274,0.121713,0.685208,0.713370,0.416245,0.337151,0.570693,0.435938,0.360098,0.037437,0.167545,0.847880,0.773456,0.490628,0.544232,0.954668,0.567280,0.571539,0.560742
19,0.121826,0.237479,0.553956,0.173660,0.354423,0.532080,0.271361,0.766006,0.607020,0.197302,0.526352,0.676571,0.473574,0.953228,0.413186,0.957242,0.642558,0.351496,0.547297,0.177401
20,0.734751,0.195362,0.734309,0.598184,0.763433,0.263434,0.868066,0.058092,0.753502,0.587513,0.311608,0.178356,0.182922,0.147631,0.391188,0.816049,0.749068,0.293260,0.937828,0.880858
21,0.772607,0.445391,0.249642,0.787922,0.598583,0.827238,0.624126,0.601524,0.688753,0.338870,0.081595,0.471474,0.267443,0.453351,0.800716,0.045749,0.683793,0.389789,0.016787,0.503695
22,0.226428,0.268764,0.694262,0.622335,0.063843,0.122683,0.815625,0.584542,0.032594,0.589775,0.764350,0.650973,0.565705,0.691784,0.265223,0.739031,0.560394,0.334802,0.517694,0.646110
23,0.362748,0.495430,0.113876,0.594149,0.612522,0.625204,0.864050,0.260279,0.528873,0.168043,0.715929,0.677014,0.175735,0.632370,0.926715,0.085675,0.120525,0.141746,0.771144,0.489660
24,0.033415,0.340433,0.464971,0.363737,0.025815,0.434129,0.415163,0.892210,0.381701,0.415264,0.790801,0.696930,0.819751,0.944029,0.869965,0.041723,0.819140,0.676051,0.109349,0.872947
25,0.132453,0.106635,0.673568,0.507253,0.162925,0.130042,0.980388,0.623167,0.074066,0.111557,0.864664,0.093637,0.446974,0.022525,0.713369,0.707874,0.563506,0.982256,0.562498,0.968681
26,0.384938,0.767604,0.850528,0.605998,0.826172,0.667488,0.142045,0.086904,0.912348,0.892183,0.426389,0.776552,0.429496,0.602056,0.283769,0.166793,0.316878,0.688337,0.169525,0.966198
27,0.318691,0.675720,0.807189,0.752518,0.531342,0.703225,0.598293,0.921508,0.563333,0.184300,0.667625,0.270017,0.573440,0.163669,0.032852,0.689315,0.973684,0.719610,0.163670,0.724486
28,0.538593,0.291241,0.407187,0.613260,0.851424,0.962086,0.590512,0.980700,0.159022,0.684265,0.898633,0.470113,0.756593,0.282408,0.551369,0.732153,0.494100,0.792803,0.794426,0.837695
29,0.713271,0.156210,0.392800,0.702348,0.009400,0.030304,0.960066,0.688937,0.260252,0.634608,0.273775,0.264145,0.682941,0.908499,0.450950,0.200761,0.968324,0.221165,0.891382,0.398914
30,0.276827,0.260054,0.942397,0.113187,0.781355,0.475740,0.152061,0.250324,0.147078,0.162984,0.977025,0.509619,0.593212,0.911839,0.257645,0.386457,0.696932,0.069162,0.952291,0.286542
31,0.995885,0.158381,0.244274,0.962163,0.651900,0.930665,0.577190,0.087914,0.960261,0.580840,0.194616,0.661459,0.674085,0.049326,0.785803,0.315645,0.495355,0.232135,0.549324,0.572232
32,0.641917,0.821055,0.392437,0.782617,0.510762,0.428320,0.017324,0.680720,0.340412,0.462513,0.785776,0.251949,0.032847,0.995700,0.816563,0.735692,0.435998,0.430411,0.531757,0.489528
33,0.806532,0.569258,0.148175,0.809987,0.459632,0.735762,0.730664,0.934502,0.080322,0.763502,0.398504,0.027637,0.409665,0.942846,0.133256,0.157158,0.929446,0.402791,0.685976,0.246594
34,0.311185,0.501165,0.365979,0.782807,0.776795,0.797199,0.791946,0.847157,0.771811,0.233944,0.522344,0.053030,0.208551,0.824354,0.588567,0.604341,0.232964,0.229109,0.022881,0.479022
35,0.437114,0.156941,0.183148,0.817785,0.747632,0.726855,0.944758,0.287449,0.792692,0.080025,0.079886,0.067887,0.543498,0.711158,0.960030,0.810807,0.579395,0.660811,0.520295,0.945250
36,0.213337,0.503490,0.802663,0.443484,0.700893,0.129329,0.007176,0.027735,0.427692,0.156926,0.486138,0.571278,0.940414,0.940730,0.933377,0.427869,0.654402,0.407580,0.122453,0.115311
37,0.625692,0.184609,0.120652,0.410955,0.408272,0.686792,0.480168,0.286901,0.320112,0.048815,0.768725,0.461014,0.090451,0.720938,0.192501,0.219077,0.034113,0.858956,0.816036,0.582192
38,0.642007,0.175592,0.476889,0.451096,0.803491,0.272613,0.576037,0.774269,0.323313,0.349850,0.413465,0.641111,0.841210,0.668661,0.101031,0.972135,0.479581,0.149982,0.035150,0.528075
39,0.809129,0.549374,0.055405,0.857802,0.760688,0.662257,0.453289,0.658329,0.973615,0.449771,0.615229,0.467290,0.158077,0.305716,0.730355,0.412336,0.469142,0.078734,0.448741,0.827487
40,0.948664,0.215285,0.918270,0.599951,0.755120,0.971609,0.103190,0.194754,0.932388,0.591727,0.697517,0.607355,0.177649,0.435968,0.202404,0.979777,0.095713,0.159040,0.651457,0.803393
41,0.163236,0.803926,0.916655,0.775234,0.644890,0.701362,0.910208,0.871204,0.321745,0.586035,0.887054,0.240060,0.915342,0.205310,0.489504,0.848926,0.304342,0.358977,0.841539,0.964889
42,0.934136,0.031410,0.954057,0.853387,0.642160,0.681184,0.317198,0.875259,0.538416,0.867511,0.813309,0.215624,0.552062,0.498378,0.739656,0.307914,0.233996,0.602166,0.244210,0.313071
43,0.757038,0.918964,0.475459,0.837686,0.149645,0.819032,0.611996,0.644348,0.938444,0.410444,0.561513,0.499231,0.856437,0.054619,0.326310,0.461825,0.954783,0.361873,0.145952,0.873029
44,0.263455,0.816283,0.336707,0.587997,0.285871,0.619942,0.018027,0.548845,0.121471,0.194299,0.149844,0.848866,0.531840,0.663384,0.084884,0.120312,0.463214,0.437889,0.542376,0.668447
45,0.702566,0.092336,0.245083,0.918402,0.695110,0.886921,0.588605,0.950970,0.168079,0.783107,0.698836,0.120857,0.207432,0.824789,0.349212,0.818606,0.376941,0.886644,0.472826,0.551858
46,0.177005,0.649551,0.467321,0.449597,0.458872,0.815586,0.455132,0.729812,0.998528,0.048724,0.377391,0.729498,0.721515,0.566724,0.338366,0.877239,0.129824,0.773155,0.485385,0.686294
47,0.689556,0.445586,0.005691,0.150171,0.554146,0.492320,0.185612,0.060855,0.457443,0.847337,0.603072,0.346574,0.898464,0.482963,0.443979,0.430132,0.713078,0.302786,0.051382,0.203699
48,0.047188,0.854596,0.833368,0.043878,0.883505,0.786302,0.980916,0.004030,0.619601,0.547769,0.160962,0.545281,0.931623,0.991855,0.821099,0.654592,0.346710,0.183948,0.372739,0.739383
49,0.936065,0.725831,0.184239,0.677391,0.242726,0.125457,0.356254,0.937350,0.215774,0.212762,0.483018,0.573162,0.634487,0.423924,0.394633,0.766967,0.606719,0.538712,0.885516,0.667051

# Lab Review

## Tuples

In [70]:
tup=('I',)

In [71]:
tup

('I',)

In [72]:
print(type(tup))

<class 'tuple'>

In [73]:
ronhack=["r", "o", "n", "h", "a", "c", "k"]

In [74]:
tup.append(ronhack)

AttributeError: 'tuple' object has no attribute 'append'

In [76]:
tup+tuple(ronhack)

('I', 'r', 'o', 'n', 'h', 'a', 'c', 'k')

In [77]:
tup

('I',)

In [78]:
tup=tup+tuple(ronhack)

In [79]:
tup

('I', 'r', 'o', 'n', 'h', 'a', 'c', 'k')

In [80]:
tup1,tup2=tup[:4],tup[-4:]

In [81]:
tup1

('I', 'r', 'o', 'n')

In [82]:
tup2

('h', 'a', 'c', 'k')

In [83]:
tup3=tup1+tup2

In [84]:
tup3

('I', 'r', 'o', 'n', 'h', 'a', 'c', 'k')

In [85]:
tup3==tup

True

In [86]:
(len(tup1)+len(tup2))==len(tup3)

True

In [87]:
tup3.index('h')

4

In [88]:
for i,j in enumerate(tup3):
    if j=='h':
        print(i)

4

In [89]:
for i in range(len(tup3)):
    if tup3[i]=='h':
        print(i)

4

In [90]:
letters = ["a", "b", "c", "d", "e"]

for i in letters:
    if i in tup3:
        print(True)
    else:
        print(False)

True
False
True
False
False

In [91]:
for i in letters:
    print(i in tup3)

True
False
True
False
False

In [92]:
for i in letters:
    if i in tup3:
        print(f'letter {i} appears in tup3 {tup3.count(i)} times.')
    else:
        print(f'letter {i} was not detected in tup3.')

letter a appears in tup3 1 times.
letter b was not detected in tup3.
letter c appears in tup3 1 times.
letter d was not detected in tup3.
letter e was not detected in tup3.

## Sets

In [93]:
import random

In [95]:
sample_list_1=random.sample(range(100), k=80)
print(sample_list_1)

[6, 88, 55, 5, 81, 9, 73, 76, 25, 31, 10, 42, 45, 61, 28, 43, 67, 66, 91, 68, 18, 65, 17, 46, 12, 29, 2, 36, 78, 20, 4, 0, 79, 89, 84, 93, 21, 85, 8, 52, 72, 50, 69, 82, 59, 22, 94, 13, 63, 58, 96, 83, 62, 86, 35, 77, 16, 95, 27, 64, 30, 44, 57, 39, 60, 7, 41, 11, 97, 87, 47, 70, 26, 98, 1, 24, 37, 19, 92, 15]

In [97]:
len(set(sample_list_1))

set1=set(sample_list_1)

In [98]:
sample_list_2=[]

for i in range(80):
    sample_list_2.append(random.randint(0,100))

In [99]:
print(sample_list_2)

[48, 4, 44, 77, 93, 68, 82, 1, 75, 4, 56, 50, 6, 7, 13, 93, 73, 32, 75, 39, 77, 58, 50, 73, 39, 76, 24, 6, 69, 12, 39, 4, 3, 64, 82, 16, 16, 29, 42, 71, 20, 27, 21, 4, 1, 57, 68, 0, 48, 73, 2, 28, 35, 48, 68, 65, 8, 45, 12, 93, 71, 41, 21, 33, 71, 92, 18, 21, 83, 95, 29, 48, 52, 34, 19, 2, 45, 10, 33, 93]

In [100]:
set2=set(sample_list_2)
len(set2)

49

In [101]:
set3=set1-set2

In [102]:
set4=set2-set1

In [103]:
set5=set1&set2

In [104]:
set5=set1.intersection(set2)

In [106]:
2*len(set5)+len(set3)+len(set4)==len(set1)+len(set2)

True

In [107]:
len(set1)==len(set3)+len(set5)

True

In [108]:
set6=set()

In [109]:
set6.update(set3,set5)

In [110]:
set1==set6

True

In [111]:
print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

In [113]:
ag1=set3.union(set4)
ag1=ag1.union(set5)

ag2=set1.union(set2)

ag1==ag2

True

In [115]:
set3.union(set4,set5)==set1.union(set2)

True

In [116]:
set3|set4|set5==set1|set2

True

In [117]:
set1.pop()
len(set1)

79

In [118]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for i in list_to_remove:
    if i in set1:
        set1.remove(i)
print(set1)

{2, 4, 5, 6, 7, 8, 10, 12, 13, 15, 16, 17, 18, 20, 22, 24, 25, 26, 27, 28, 30, 35, 36, 37, 42, 43, 44, 45, 46, 47, 50, 52, 55, 57, 58, 60, 62, 63, 64, 65, 66, 67, 68, 70, 72, 73, 76, 77, 78, 82, 83, 84, 85, 86, 87, 88, 92, 93, 94, 95, 96, 97, 98}

In [119]:
set1-set(list_to_remove)

{2,
 4,
 5,
 6,
 7,
 8,
 10,
 12,
 13,
 15,
 16,
 17,
 18,
 20,
 22,
 24,
 25,
 26,
 27,
 28,
 30,
 35,
 36,
 37,
 42,
 43,
 44,
 45,
 46,
 47,
 50,
 52,
 55,
 57,
 58,
 60,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 70,
 72,
 73,
 76,
 77,
 78,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 92,
 93,
 94,
 95,
 96,
 97,
 98}

## Dicts

In [120]:
word_freq = {'love': 25, 'conversation': 1, 'every': 6, "we're": 1, 'plate': 1, 'sour': 1, 'jukebox': 1, 'now': 11, 'taxi': 1, 'fast': 1, 'bag': 1, 'man': 1, 'push': 3, 'baby': 14, 'going': 1, 'you': 16, "don't": 2, 'one': 1, 'mind': 2, 'backseat': 1, 'friends': 1, 'then': 3, 'know': 2, 'take': 1, 'play': 1, 'okay': 1, 'so': 2, 'begin': 1, 'start': 2, 'over': 1, 'body': 17, 'boy': 2, 'just': 1, 'we': 7, 'are': 1, 'girl': 2, 'tell': 1, 'singing': 2, 'drinking': 1, 'put': 3, 'our': 1, 'where': 1, "i'll": 1, 'all': 1, "isn't": 1, 'make': 1, 'lover': 1, 'get': 1, 'radio': 1, 'give': 1, "i'm": 23, 'like': 10, 'can': 1, 'doing': 2, 'with': 22, 'club': 1, 'come': 37, 'it': 1, 'somebody': 2, 'handmade': 2, 'out': 1, 'new': 6, 'room': 3, 'chance': 1, 'follow': 6, 'in': 27, 'may': 2, 'brand': 6, 'that': 2, 'magnet': 3, 'up': 3, 'first': 1, 'and': 23, 'pull': 3, 'of': 6, 'table': 1, 'much': 2, 'last': 3, 'i': 6, 'thrifty': 1, 'grab': 2, 'was': 2, 'driver': 1, 'slow': 1, 'dance': 1, 'the': 18, 'say': 2, 'trust': 1, 'family': 1, 'week': 1, 'date': 1, 'me': 10, 'do': 3, 'waist': 2, 'smell': 3, 'day': 6, 'although': 3, 'your': 21, 'leave': 1, 'want': 2, "let's": 2, 'lead': 6, 'at': 1, 'hand': 1, 'how': 1, 'talk': 4, 'not': 2, 'eat': 1, 'falling': 3, 'about': 1, 'story': 1, 'sweet': 1, 'best': 1, 'crazy': 2, 'let': 1, 'too': 5, 'van': 1, 'shots': 1, 'go': 2, 'to': 2, 'a': 8, 'my': 33, 'is': 5, 'place': 1, 'find': 1, 'shape': 6, 'on': 40, 'kiss': 1, 'were': 3, 'night': 3, 'heart': 3, 'for': 3, 'discovering': 6, 'something': 6, 'be': 16, 'bedsheets': 3, 'fill': 2, 'hours': 2, 'stop': 1, 'bar': 1}

In [123]:
keys=list(word_freq.keys())

In [124]:
keys.sort()

In [126]:
word_freq2={}

In [127]:
for i in keys:
    word_freq2[i]=word_freq[i]

In [128]:
word_freq2

{'a': 8,
 'about': 1,
 'all': 1,
 'although': 3,
 'and': 23,
 'are': 1,
 'at': 1,
 'baby': 14,
 'backseat': 1,
 'bag': 1,
 'bar': 1,
 'be': 16,
 'bedsheets': 3,
 'begin': 1,
 'best': 1,
 'body': 17,
 'boy': 2,
 'brand': 6,
 'can': 1,
 'chance': 1,
 'club': 1,
 'come': 37,
 'conversation': 1,
 'crazy': 2,
 'dance': 1,
 'date': 1,
 'day': 6,
 'discovering': 6,
 'do': 3,
 'doing': 2,
 "don't": 2,
 'drinking': 1,
 'driver': 1,
 'eat': 1,
 'every': 6,
 'falling': 3,
 'family': 1,
 'fast': 1,
 'fill': 2,
 'find': 1,
 'first': 1,
 'follow': 6,
 'for': 3,
 'friends': 1,
 'get': 1,
 'girl': 2,
 'give': 1,
 'go': 2,
 'going': 1,
 'grab': 2,
 'hand': 1,
 'handmade': 2,
 'heart': 3,
 'hours': 2,
 'how': 1,
 'i': 6,
 "i'll": 1,
 "i'm": 23,
 'in': 27,
 'is': 5,
 "isn't": 1,
 'it': 1,
 'jukebox': 1,
 'just': 1,
 'kiss': 1,
 'know': 2,
 'last': 3,
 'lead': 6,
 'leave': 1,
 'let': 1,
 "let's": 2,
 'like': 10,
 'love': 25,
 'lover': 1,
 'magnet': 3,
 'make': 1,
 'man': 1,
 'may': 2,
 'me': 10,
 'mind': 2,
 'much': 2,
 'my': 33,
 'new': 6,
 'night': 3,
 'not': 2,
 'now': 11,
 'of': 6,
 'okay': 1,
 'on': 40,
 'one': 1,
 'our': 1,
 'out': 1,
 'over': 1,
 'place': 1,
 'plate': 1,
 'play': 1,
 'pull': 3,
 'push': 3,
 'put': 3,
 'radio': 1,
 'room': 3,
 'say': 2,
 'shape': 6,
 'shots': 1,
 'singing': 2,
 'slow': 1,
 'smell': 3,
 'so': 2,
 'somebody': 2,
 'something': 6,
 'sour': 1,
 'start': 2,
 'stop': 1,
 'story': 1,
 'sweet': 1,
 'table': 1,
 'take': 1,
 'talk': 4,
 'taxi': 1,
 'tell': 1,
 'that': 2,
 'the': 18,
 'then': 3,
 'thrifty': 1,
 'to': 2,
 'too': 5,
 'trust': 1,
 'up': 3,
 'van': 1,
 'waist': 2,
 'want': 2,
 'was': 2,
 'we': 7,
 "we're": 1,
 'week': 1,
 'were': 3,
 'where': 1,
 'with': 22,
 'you': 16,
 'your': 21}

In [129]:
import operator
sorted_tups = sorted(word_freq.items(), key=operator.itemgetter(1))
print(sorted_tups)

[('conversation', 1), ("we're", 1), ('plate', 1), ('sour', 1), ('jukebox', 1), ('taxi', 1), ('fast', 1), ('bag', 1), ('man', 1), ('going', 1), ('one', 1), ('backseat', 1), ('friends', 1), ('take', 1), ('play', 1), ('okay', 1), ('begin', 1), ('over', 1), ('just', 1), ('are', 1), ('tell', 1), ('drinking', 1), ('our', 1), ('where', 1), ("i'll", 1), ('all', 1), ("isn't", 1), ('make', 1), ('lover', 1), ('get', 1), ('radio', 1), ('give', 1), ('can', 1), ('club', 1), ('it', 1), ('out', 1), ('chance', 1), ('first', 1), ('table', 1), ('thrifty', 1), ('driver', 1), ('slow', 1), ('dance', 1), ('trust', 1), ('family', 1), ('week', 1), ('date', 1), ('leave', 1), ('at', 1), ('hand', 1), ('how', 1), ('eat', 1), ('about', 1), ('story', 1), ('sweet', 1), ('best', 1), ('let', 1), ('van', 1), ('shots', 1), ('place', 1), ('find', 1), ('kiss', 1), ('stop', 1), ('bar', 1), ("don't", 2), ('mind', 2), ('know', 2), ('so', 2), ('start', 2), ('boy', 2), ('girl', 2), ('singing', 2), ('doing', 2), ('somebody', 2), ('handmade', 2), ('may', 2), ('that', 2), ('much', 2), ('grab', 2), ('was', 2), ('say', 2), ('waist', 2), ('want', 2), ("let's", 2), ('not', 2), ('crazy', 2), ('go', 2), ('to', 2), ('fill', 2), ('hours', 2), ('push', 3), ('then', 3), ('put', 3), ('room', 3), ('magnet', 3), ('up', 3), ('pull', 3), ('last', 3), ('do', 3), ('smell', 3), ('although', 3), ('falling', 3), ('were', 3), ('night', 3), ('heart', 3), ('for', 3), ('bedsheets', 3), ('talk', 4), ('too', 5), ('is', 5), ('every', 6), ('new', 6), ('follow', 6), ('brand', 6), ('of', 6), ('i', 6), ('day', 6), ('lead', 6), ('shape', 6), ('discovering', 6), ('something', 6), ('we', 7), ('a', 8), ('like', 10), ('me', 10), ('now', 11), ('baby', 14), ('you', 16), ('be', 16), ('body', 17), ('the', 18), ('your', 21), ('with', 22), ("i'm", 23), ('and', 23), ('love', 25), ('in', 27), ('my', 33), ('come', 37), ('on', 40)]

In [131]:
word_freq3={}

for i,j in sorted_tups:
    word_freq3[i]=j

In [133]:
dict(sorted_tups)

{'conversation': 1,
 "we're": 1,
 'plate': 1,
 'sour': 1,
 'jukebox': 1,
 'taxi': 1,
 'fast': 1,
 'bag': 1,
 'man': 1,
 'going': 1,
 'one': 1,
 'backseat': 1,
 'friends': 1,
 'take': 1,
 'play': 1,
 'okay': 1,
 'begin': 1,
 'over': 1,
 'just': 1,
 'are': 1,
 'tell': 1,
 'drinking': 1,
 'our': 1,
 'where': 1,
 "i'll": 1,
 'all': 1,
 "isn't": 1,
 'make': 1,
 'lover': 1,
 'get': 1,
 'radio': 1,
 'give': 1,
 'can': 1,
 'club': 1,
 'it': 1,
 'out': 1,
 'chance': 1,
 'first': 1,
 'table': 1,
 'thrifty': 1,
 'driver': 1,
 'slow': 1,
 'dance': 1,
 'trust': 1,
 'family': 1,
 'week': 1,
 'date': 1,
 'leave': 1,
 'at': 1,
 'hand': 1,
 'how': 1,
 'eat': 1,
 'about': 1,
 'story': 1,
 'sweet': 1,
 'best': 1,
 'let': 1,
 'van': 1,
 'shots': 1,
 'place': 1,
 'find': 1,
 'kiss': 1,
 'stop': 1,
 'bar': 1,
 "don't": 2,
 'mind': 2,
 'know': 2,
 'so': 2,
 'start': 2,
 'boy': 2,
 'girl': 2,
 'singing': 2,
 'doing': 2,
 'somebody': 2,
 'handmade': 2,
 'may': 2,
 'that': 2,
 'much': 2,
 'grab': 2,
 'was': 2,
 'say': 2,
 'waist': 2,
 'want': 2,
 "let's": 2,
 'not': 2,
 'crazy': 2,
 'go': 2,
 'to': 2,
 'fill': 2,
 'hours': 2,
 'push': 3,
 'then': 3,
 'put': 3,
 'room': 3,
 'magnet': 3,
 'up': 3,
 'pull': 3,
 'last': 3,
 'do': 3,
 'smell': 3,
 'although': 3,
 'falling': 3,
 'were': 3,
 'night': 3,
 'heart': 3,
 'for': 3,
 'bedsheets': 3,
 'talk': 4,
 'too': 5,
 'is': 5,
 'every': 6,
 'new': 6,
 'follow': 6,
 'brand': 6,
 'of': 6,
 'i': 6,
 'day': 6,
 'lead': 6,
 'shape': 6,
 'discovering': 6,
 'something': 6,
 'we': 7,
 'a': 8,
 'like': 10,
 'me': 10,
 'now': 11,
 'baby': 14,
 'you': 16,
 'be': 16,
 'body': 17,
 'the': 18,
 'your': 21,
 'with': 22,
 "i'm": 23,
 'and': 23,
 'love': 25,
 'in': 27,
 'my': 33,
 'come': 37,
 'on': 40}

## list comprehensions

In [144]:
import os

In [146]:
print([i for i in range(1,51)])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

In [148]:
print([i*2 for i in range(1,101)])

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200]

In [150]:
print([i for i in range(1,201) if i%2==0])

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200]

In [151]:
a = [[0.84062117, 0.48006452, 0.7876326 , 0.77109654],
       [0.44409793, 0.09014516, 0.81835917, 0.87645456],
       [0.7066597 , 0.09610873, 0.41247947, 0.57433389],
       [0.29960807, 0.42315023, 0.34452557, 0.4751035 ],
       [0.17003563, 0.46843998, 0.92796258, 0.69814654],
       [0.41290051, 0.19561071, 0.16284783, 0.97016248],
       [0.71725408, 0.87702738, 0.31244595, 0.76615487],
       [0.20754036, 0.57871812, 0.07214068, 0.40356048],
       [0.12149553, 0.53222417, 0.9976855 , 0.12536346],
       [0.80930099, 0.50962849, 0.94555126, 0.33364763]];

In [153]:
print([j for i in a for j in i])

[0.84062117, 0.48006452, 0.7876326, 0.77109654, 0.44409793, 0.09014516, 0.81835917, 0.87645456, 0.7066597, 0.09610873, 0.41247947, 0.57433389, 0.29960807, 0.42315023, 0.34452557, 0.4751035, 0.17003563, 0.46843998, 0.92796258, 0.69814654, 0.41290051, 0.19561071, 0.16284783, 0.97016248, 0.71725408, 0.87702738, 0.31244595, 0.76615487, 0.20754036, 0.57871812, 0.07214068, 0.40356048, 0.12149553, 0.53222417, 0.9976855, 0.12536346, 0.80930099, 0.50962849, 0.94555126, 0.33364763]

In [154]:
print([j for i in a for j in i if j>=0.5])

[0.84062117, 0.7876326, 0.77109654, 0.81835917, 0.87645456, 0.7066597, 0.57433389, 0.92796258, 0.69814654, 0.97016248, 0.71725408, 0.87702738, 0.76615487, 0.57871812, 0.53222417, 0.9976855, 0.80930099, 0.50962849, 0.94555126]

In [155]:
b = [[[0.55867166, 0.06210792, 0.08147297],
        [0.82579068, 0.91512478, 0.06833034]],

       [[0.05440634, 0.65857693, 0.30296619],
        [0.06769833, 0.96031863, 0.51293743]],

       [[0.09143215, 0.71893382, 0.45850679],
        [0.58256464, 0.59005654, 0.56266457]],

       [[0.71600294, 0.87392666, 0.11434044],
        [0.8694668 , 0.65669313, 0.10708681]],

       [[0.07529684, 0.46470767, 0.47984544],
        [0.65368638, 0.14901286, 0.23760688]]];

In [157]:
print([k for i in b for j in i for k in j])

[0.55867166, 0.06210792, 0.08147297, 0.82579068, 0.91512478, 0.06833034, 0.05440634, 0.65857693, 0.30296619, 0.06769833, 0.96031863, 0.51293743, 0.09143215, 0.71893382, 0.45850679, 0.58256464, 0.59005654, 0.56266457, 0.71600294, 0.87392666, 0.11434044, 0.8694668, 0.65669313, 0.10708681, 0.07529684, 0.46470767, 0.47984544, 0.65368638, 0.14901286, 0.23760688]

In [160]:
[j[-1] for i in b for j in i if j[-1]<=0.5]

[0.08147297,
 0.06833034,
 0.30296619,
 0.45850679,
 0.11434044,
 0.10708681,
 0.47984544,
 0.23760688]

In [161]:
os.getcwd()

'/home/mauritian/Documents/Git/data-labs/module-1/lab-list-comprehensions/data'

In [163]:
[i for i in os.listdir() if i.endswith('csv')]

['sample_file_9.csv',
 'sample_file_3.csv',
 'sample_file_7.csv',
 'sample_file_4.csv',
 'sample_file_0.csv',
 'sample_file_8.csv',
 'sample_file_1.csv',
 'sample_file_5.csv',
 'sample_file_2.csv',
 'sample_file_6.csv']

In [164]:
[i for i in os.listdir() if '.csv' in i]

['sample_file_9.csv',
 'sample_file_3.csv',
 'sample_file_7.csv',
 'sample_file_4.csv',
 'sample_file_0.csv',
 'sample_file_8.csv',
 'sample_file_1.csv',
 'sample_file_5.csv',
 'sample_file_2.csv',
 'sample_file_6.csv']

# Text

In [165]:
txt='Hello world'

In [166]:
txt

'Hello world'

In [170]:
txt=input('Hello! Wie geht\'s')

Hello! Wie geht'sca va bien

In [171]:
txt

'ca va bien'

In [169]:
'l\'Hopital'

"l'Hopital"

In [172]:
txt[:5]

'ca va'

In [173]:
txt[:4]

'ca v'

In [174]:
txt[3:5]

'va'

In [175]:
txt[::2]# skip 1

'c abe'

In [176]:
txt[::3] #skip 2

'cvbn'

In [177]:
txt[::1]#all of them

'ca va bien'

In [178]:
txt[::-1]

'neib av ac'

In [179]:
txt.upper()

'CA VA BIEN'

In [180]:
txt.title()

'Ca Va Bien'

In [181]:
txt.capitalize()

'Ca va bien'

In [182]:
txt.lower()

'ca va bien'

In [183]:
txt+'. Und du?'

'ca va bien. Und du?'

In [184]:
hi='Hello'
world='World'

In [185]:
hi+world

'HelloWorld'

In [186]:
hi+' '+world

'Hello World'

In [187]:
lst=['I','really','love','my','sweet','thing']

In [188]:
lst

['I', 'really', 'love', 'my', 'sweet', 'thing']

In [189]:
sum(lst)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [193]:
txt=''
for i in lst:
    txt+=i+' '
txt[:-1]+'.'

'I really love my sweet thing.'

In [195]:
' '.join(lst)+'.'

'I really love my sweet thing.'

In [197]:
' banana '.join(lst)

'I banana really banana love banana my banana sweet banana thing'

In [198]:
sentence=' '.join(lst)
sentence

'I really love my sweet thing'

In [200]:
lst=[]
word=''
for i in sentence+' ':
    word+=i
    if i==' ':
        lst.append(word[:-1])
        word=''
lst

['I', 'really', 'love', 'my', 'sweet', 'thing']

In [202]:
sentence.split()

['I', 'really', 'love', 'my', 'sweet', 'thing']

In [203]:
sentence.split('l')

['I rea', '', 'y ', 'ove my sweet thing']

In [205]:
"Champs lyses".split('')

['Champs lys', 'es']

In [206]:
sentence='Freds friends fried Fritos for Fridays food.'

In [207]:
sentence.split()

['Freds', 'friends', 'fried', 'Fritos', 'for', 'Fridays', 'food.']

In [208]:
sentence.split('.')

['Freds friends fried Fritos for Fridays food', '']

In [209]:
sentence.split('fried')

['Freds friends ', ' Fritos for Fridays food.']

In [210]:
sentence.split('Fritos')

['Freds friends fried ', ' for Fridays food.']

In [213]:
sentence.strip('.')

'Freds friends fried Fritos for Fridays food'

In [214]:
sentence.strip('.F')

'reds friends fried Fritos for Fridays food'

In [215]:
sentence.strip('.d')

'Freds friends fried Fritos for Fridays foo'

In [216]:
sentence.strip('.doFf ')

'reds friends fried Fritos for Fridays'

In [217]:
sentence.lstrip('.doFf ')

'reds friends fried Fritos for Fridays food.'

In [218]:
sentence.rstrip('.doFf ')

'Freds friends fried Fritos for Fridays'

In [219]:
lyrics="""I'm blue da ba dee da ba daa
Da ba dee da ba daa, da ba dee da ba daa, da ba dee da ba daa
Da ba dee da ba daa, da ba dee da ba daa, da ba dee da ba daa"""

In [221]:
print(lyrics.split())

["I'm", 'blue', 'da', 'ba', 'dee', 'da', 'ba', 'daa', 'Da', 'ba', 'dee', 'da', 'ba', 'daa,', 'da', 'ba', 'dee', 'da', 'ba', 'daa,', 'da', 'ba', 'dee', 'da', 'ba', 'daa', 'Da', 'ba', 'dee', 'da', 'ba', 'daa,', 'da', 'ba', 'dee', 'da', 'ba', 'daa,', 'da', 'ba', 'dee', 'da', 'ba', 'daa']

In [222]:
lyrics.split().count('daa')

3

In [225]:
[i.strip(',') for i in lyrics.split()].count('daa')

7

In [226]:
lyrics.split().count('da')

12

In [228]:
[i.strip(',').lower() for i in lyrics.split()].count('da')

14

In [229]:
len([i.strip(',').lower() for i in lyrics.split()])

44

In [230]:
len({i.strip(',').lower() for i in lyrics.split()})

6

In [231]:
print(lyrics)

I'm blue da ba dee da ba daa
Da ba dee da ba daa, da ba dee da ba daa, da ba dee da ba daa
Da ba dee da ba daa, da ba dee da ba daa, da ba dee da ba daa

In [232]:
lyrics.replace('\n', ' ')

"I'm blue da ba dee da ba daa Da ba dee da ba daa, da ba dee da ba daa, da ba dee da ba daa Da ba dee da ba daa, da ba dee da ba daa, da ba dee da ba daa"

In [236]:
[i for i in lyrics.lower().split() if i.startswith('d')]

['da',
 'dee',
 'da',
 'daa',
 'da',
 'dee',
 'da',
 'daa,',
 'da',
 'dee',
 'da',
 'daa,',
 'da',
 'dee',
 'da',
 'daa',
 'da',
 'dee',
 'da',
 'daa,',
 'da',
 'dee',
 'da',
 'daa,',
 'da',
 'dee',
 'da',
 'daa']

In [237]:
[i for i in lyrics.lower().split() if i[0]=='d']

['da',
 'dee',
 'da',
 'daa',
 'da',
 'dee',
 'da',
 'daa,',
 'da',
 'dee',
 'da',
 'daa,',
 'da',
 'dee',
 'da',
 'daa',
 'da',
 'dee',
 'da',
 'daa,',
 'da',
 'dee',
 'da',
 'daa,',
 'da',
 'dee',
 'da',
 'daa']

In [238]:
lyrics.istitle()

False

In [242]:
lyrics[:2].istitle()

True

In [243]:
lyrics[:4]

"I'm "

In [245]:
[i for i in lyrics.split() if i.islower()]

['blue',
 'da',
 'ba',
 'dee',
 'da',
 'ba',
 'daa',
 'ba',
 'dee',
 'da',
 'ba',
 'daa,',
 'da',
 'ba',
 'dee',
 'da',
 'ba',
 'daa,',
 'da',
 'ba',
 'dee',
 'da',
 'ba',
 'daa',
 'ba',
 'dee',
 'da',
 'ba',
 'daa,',
 'da',
 'ba',
 'dee',
 'da',
 'ba',
 'daa,',
 'da',
 'ba',
 'dee',
 'da',
 'ba',
 'daa']

In [246]:
[i for i in lyrics.split() if i.isupper()]

[]

In [247]:
[i for i in lyrics.split() if i.istitle()]

['Da', 'Da']

In [249]:
[i for i in lyrics.split() if i.endswith(',')]

['daa,', 'daa,', 'daa,', 'daa,']

In [250]:
'daa' in lyrics

True

In [251]:
'monkey' in lyrics

False

In [252]:
lyrics.replace('dee','MONKEY')

"I'm blue da ba MONKEY da ba daa\nDa ba MONKEY da ba daa, da ba MONKEY da ba daa, da ba MONKEY da ba daa\nDa ba MONKEY da ba daa, da ba MONKEY da ba daa, da ba MONKEY da ba daa"

In [253]:
lyrics.replace('dee','MONKEY',1)

"I'm blue da ba MONKEY da ba daa\nDa ba dee da ba daa, da ba dee da ba daa, da ba dee da ba daa\nDa ba dee da ba daa, da ba dee da ba daa, da ba dee da ba daa"

In [254]:
lyrics.replace('dee','MONKEY',2)

"I'm blue da ba MONKEY da ba daa\nDa ba MONKEY da ba daa, da ba dee da ba daa, da ba dee da ba daa\nDa ba dee da ba daa, da ba dee da ba daa, da ba dee da ba daa"